@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.footer-container {
    background: transparent;
    color: #888888;
    padding: 2rem 1rem;
}

.footer-link {
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s;
    font-family: 'Orbitron', sans-serif;
}

.footer-link:hover {
    color: #555555;
}

.footer-text:hover {
    color: #555555;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    margin: 0px 10px;
}

.social-icon {
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #555555;
}
