div.tmp-not-available {
    width: 650px;
    margin: 100px auto;
    background: #c20bf2;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
}
