.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 0 0 20px 0;
  height: 90px;
}
.nav-logo {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 23px;
  margin-left: 20px;
}

nav {
  width: 400px;
  font-family: 'Orbitron', sans-serif;
  /* display: flex;
    align-items: center;
    justify-content: flex-end; */
  position: absolute;
  top: 30px;
  left: 300px;
}

.nav-profile {
  width: 350px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding: 20px;
  /* box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3); */
  position: absolute;
  top: 0;
  right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* margin-left: auto; */
  justify-content: center;
  align-items: center;
}

li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #888888; /* Grey color for non-active links */
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffffff; /* White color on hover */
}

a.active {
  color: #ffffff; /* White text for the active link */
  background-color: #c20bf2; /* Pink/Purple background for the active link */
  padding: 8px 16px;
  border-radius: 15px; /* Rounded corners */
  transition: background-color 0.3s ease;
}

.nav-search {
  color: #1f1f1f;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
}
